<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
          crossorigin="anonymous">

    <title>Frutería Ahuacatl</title>
</head>
<body>

    <!-- NAVEGACIÓN -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <img src="/Uploads/aguacate.png" alt="Icono de mi sitio" class="site-icon" width="30">
            <a class="navbar-brand" href="/">Ahuacatl</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <% if (user) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Salir</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/signin">Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Registrarse</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <!-- CONTENIDO PRINCIPAL -->
    <div class="container mt-4">

        <!-- MENSAJES FLASH GLOBALES -->
        <% if (message && message.signinMessage && message.signinMessage.length) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= message.signinMessage[0] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        <% } %>

        <% if (message && message.signupMessage && message.signupMessage.length) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= message.signupMessage[0] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        <% } %>

        <% if (message && message.success && message.success.length) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= message.success[0] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        <% } %>

        <% if (message && message.danger && message.danger.length) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= message.danger[0] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        <% } %>

        <% if (message && message.info && message.info.length) { %>
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <%= message.info[0] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        <% } %>

        <!-- Cuerpo de la vista -->
        <%- body %>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>
</html>
